<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile"
              xsi:type="File"
              fileName="c:\tmp\log.log"
              layout="${message} ${exception}"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="3"
    />
    </target>
    <target name="console" xsi:type="Console" />
    <target name="consoleMsgOnly" xsi:type="Console"
      layout="${message} ${exception}"
    />
  </targets>

  <rules>
    <logger name="file" minlevel="Info" writeTo="asyncFile" final="true" />
    <logger name="console" minlevel="Debug" writeTo="consoleMsgOnly" final="true" />
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>